.login-container {
  display: flex;
  padding: 2rem;
  flex-direction: column;
  align-items: center;
}

.login-register {
  padding: 0.5rem;
  border: 3px solid black;
  margin-bottom: 1rem;
}

.login-text {
  text-align: center;
}

.login-button {
  display: flex;
  justify-content: center;
}

.create-account-here {
  border-bottom: 2px solid red;
}
