.navbar-nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  border-bottom: 3px solid black;
  background-color: blanchedalmond;
  align-items: center;
}

.navbar-nav a {
  text-decoration: none;
  color: black;
}

.navbar-nav a:hover {
  color: hotpink;
}

.navbar-nav a:active {
  color: burlywood;
}

.nav-item {
  margin-right: 1rem;
  font-size: 1.5rem;
}

.navbar-logo {
  width: 5rem;
}
