.profile-userpage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-biography {
  padding: 0.5rem;
  width: auto;
  max-width: 30rem;
  border: 3px solid black;
}

.edit-profile a {
  text-decoration: none;
  color: black;
}

.edit-profile a:hover {
  color: hotpink;
}

.profile-profilepicture img {
  max-width: 250px;
  border-radius: 50%;
}

.description-form [type="text"] {
  width: 100px;
  text-align: center;
  opacity: 65%;
}

.profile-posts {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.profile-posts img {
  width: 33%;
}
