.form-group {
  display: flex;
  flex-direction: column;
}

.form-group textarea {
  width: 250px;
  height: 70px;
  resize: none;
  border: 1px solid black;
}

.upload-wrapper {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.image-input {
  padding: 0.3rem;
  border: 1px solid black;
}

.description-field {
  text-align: center;
}

label[for="image"],
[for="description"] {
  color: var(--delete-btn);
  font-weight: bold;
  padding: 0.5rem;
}
