.user-userpage {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.user-description {
  overflow: scroll;
  padding: 0.5rem 0.3rem;
  max-width: 300px;
  min-width: 300px;
  text-align: center;
}

.user-biography {
  padding: 0.5rem 0.5rem;
  align-self: center;
  overflow: scroll;
  max-width: 300px;
}

.user-username {
  padding: 0.5rem 0 1rem 0;
}

.user-username p {
  border-bottom: 2px solid black;
}

.post-likes {
  font-size: 1.5rem;
}

.user-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3rem;
}

.user-likes {
  display: flex;
  flex-direction: row-reverse;
  padding-top: 0.3rem;
}

.user-box {
  border-bottom: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media only screen and (min-width: 1024px) {
  .user-box {
    width: 650px;
  }

  .user-description {
    max-width: 650px;
    min-width: 650px;
  }
}
